@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 79% 92%;
    --foreground: 253, 42%, 17%;

    --card: 331, 79%, 92%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 79% 92%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 339 98% 44%;
    --primary-foreground: 0 100% 95%;

    --secondary: 343, 100%, 84%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 343, 100%, 84%;
    --input: 339 98% 44%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.alice-carousel__dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 !important;
  margin-top: -65px !important;
}
